.container1{
    display:flex;
    flex-direction: row;
    background-color: aqua;
    justify-content:center;
    width:fit-content;
}
.row{
    padding:10px;
}
.container2{
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    padding:40px;
    margin:15px;
}
.body{
    background-image: url("iitkgp2.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
}
.row2{
    color:rgba(128, 0, 49, 0.904);
    background-color: seashell;
    width:280px;
    padding: 5px 10px 5px 10px;
}
fieldset{
    padding:20px;
    margin:10px;
    animation-name:about;
    animation-duration:4s;
    background-color:thistle;
    border:2px solid red;
}

p{
    padding:20px;
    margin:10px;
}
legend{
    color:white;
}
@keyframes about {
    from{
        background-color:black;
    }
    to{
     background-color:thistle;
    }
    
}
.about{
    background-image: url("about.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
}
